html, body {
  height: 100%;
}
.thumbnails-block {
  height: 200px; 
  position:relative; 
  float:left; 
  border-radius:20px; 
  margin:2px; 
  border: 2pt solid lightGrey; 
  padding:20px; 
  box-sizing:border-box;
}
.thumbnails-block img {
  height: 100%;
}
.close-btn {
  position:absolute; 
  top:10px; 
  right:10px; 
  font-size:14pt;
  color:grey;
}
.logo {
  font-size:28px;
}
.main {
  min-height:100%; 
  padding-bottom:40px;
}
.cover {
  min-height:100%;
  text-align:center;
  background-image:url(/img/home_page_img.jpg);
  background-size:cover;
}
.inner-cover{
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background:rgba(255, 255, 255, 0.8);
  border-radius:20px;
  padding:10px;
}
.cart-edit {
  width:100%;
  font-size:18pt; 
  margin-right:20px;
  text-align: right;
}
.registration-form{
  width:200px;
  margin: 20px;
}
.contacts-form{
  width:400px;
  margin: 20px;
}
.product-form {
  width:600px;
}
.search-options-block {
  padding-bottom:20px; 
}
.cart-product {
  border-top: 1pt dashed lightgrey;
  border-bottom: 1pt dashed lightgrey; 
  padding-bottom:20px;  
}
.cart-big-txt {
  font-size:18pt;
}
.delete-btn {
	border:none; 
	background-color:white; 
	cursor: pointer;
}
.wishlist-text {
  color: lightgrey;
}
.wishlist-text:hover {
  color: #ff66cc;
}
.flex-row {
  display:flex; 
  justify-content: space-between;
}
.space-between {
  justify-content: space-between;
}
.card {
  margin-bottom:20px;
}
.no-margin {
  margin:0px;
}
.no-paddin {
  padding:0px;
}
.flex-col {
  display:flex; 
  flex-direction: column; 
  justify-content: space-between;
}
.bold {
  font-weight:bold;
}
.hidden{
  display:none;
}
.bg-primary-dark {
  background-color: #0062cc;
}
.light-blue-text {
  color: #93b7d5;
}
.list-unstyled a {
  color: white;
}
.list-unstyled a:hover {
  text-decoration:none;
}
.footer-copyright a:hover{
  text-decoration:none;
}

.order-table td, th {
  padding:10px;
  border: 1pt solid lightGrey;
}

