<div class="container main">
  <p><h3>Add product</h3></p>
  <form method="post" action="" class="product-form needs-validation" novalidate>
    <div>
      <p id="list"> </p>
      <div style="clear:both;">&nbsp;</div>
    </div>
    <div class="form-group">
      <!-- <label for="files"><i class="fas fa-plus-circle" style="font-size:25pt; color:darkGreen;"></i></label>  -->
      <input type="file" id="files"  multiple accept="image/*" name="photo">
    </div>
	  <div class="form-group">
		  <label for="title">Title</label>
		  <input type="text" id="title" name="title" value="" class="form-control" required>
	  </div>
	  <div class="form-group">
		  <label for="description">Description</label>
		  <textarea id="description" name="description" class="form-control" required></textarea>
	  </div>
	  <div class="form-group">
		  <label for="type">Type</label>
		  <input type="text" id="type" name="type" value="" class="form-control" required>
	  </div>
	  <div class="form-group">
		  <label for="price">Price</label>
		  <input type="text" id="price" name="price" value="" class="form-control" required>
	  </div>
	  <div class="form-group">
		  <label for="code">Code</label>
		  <input type="text" id="code" name="code" value="" class="form-control" required>
	  </div>
	  <div class="form-group">
		  <label for="price">In stock</label>
		  <input type="text" id="in_stock" name="in_stock" value="" class="form-control" required>
	  </div>
	  <input type="submit" class="btn btn-success">
  </form>
</div>
