<script><?php
	use App\Models\Products as Products;
	$categories = Products::getCategoriesList();
	echo 'categories = ' . json_encode($categories) . ';';
?></script>
<script src="/js/selectTypeCategory.js"> </script>
<div class="container main">
  <p><h3>Edit product</h3></p>
  <form method="post" action="" class="product-form needs-validation" novalidate>
    <div>
      <p id="list"> </p>
      <?php foreach($data->images as $image) { ?>
        <div class="thumbnails-block">
            <img src="/img/<?=$image->src;?>">
            <div class="close-btn">
                <a href="/images/delete/<?=$image->id;?>"><i class="far fa-times-circle"></i></a>  
            </div>
        </div>
      <?php } ?>
      <div style="clear:both;">&nbsp;</div>
    </div>
    <div class="form-group">
      <!-- <label for="files"><i class="fas fa-plus-circle" style="font-size:25pt; color:darkGreen;"></i></label>  -->
      <input type="file" id="files"  multiple accept="image/*" name="photo">
    </div>
	  <div class="form-group">
		  <label for="title">Title</label>
		  <input type="text" id="title" name="title" value="<?=$data->title?>" class="form-control" required>
	  </div>
	  <div class="form-group">
		  <label for="description">Description</label>
		  <textarea id="description" name="description" class="form-control" required><?=$data->description?></textarea>
	  </div>
	  <div class="form-group">
		  <label for="type">Type</label>
			<select name="type" id="type" value="<?=$data->type?>" class="form-control">
				<option value="<?=$data->type?>"><?=$data->type?></option>
				<?php foreach($categories as $key=>$value) { ?>
					<?php if($key!=$data->type) { ?>
						<option value="<?php echo $key;?>"><?php echo $key;?></option>
					<?php } ?>
				<?php } ?>
			</select>
	  </div>
		<div class="form-group">
			<label for="subtype">Subtype</label>
			<select name="subtype" id="subtype" value="<?=$data->subtype?>" class="form-control">
				<option value="<?=$data->subtype?>"><?=$data->subtype?></option>
				<?php $current_type = $data->type; ?>
				<?php foreach($categories[$current_type] as $value) { ?>
					<?php	if($value!=$data->subtype) { ?>
						<option value="<?php echo $value;?>"><?php echo $value;?></option>
					<?php } ?>
				<?php } ?>
			</select>
		</div>
	  <div class="form-group">
		  <label for="price">Price</label>
		  <input type="text" id="price" name="price" value="<?=$data->price?>" class="form-control" required>
	  </div>
	  <div class="form-group">
		  <label for="code">Code</label>
		  <input type="text" id="code" name="code" value="<?=$data->code?>" class="form-control" required>
	  </div>
	  <div class="form-group">
		  <label for="price">In stock</label>
		  <input type="text" id="in_stock" name="in_stock" value="<?=$data->in_stock?>" class="form-control" required>
	  </div>
	  <input type="submit" class="btn btn-success">
  </form>
</div>
