    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <?php
        use App\Lib\Breadcrumps as Breadcrumps;
        $breadcrumps = Breadcrumps::getBreadcrumps();
        $levels =  Breadcrumps::getLevels();
        for($i=0; $i<$levels; $i++) { 
          if($i<$levels-1) { ?>
            <li class="breadcrumb-item">
              <a href="/<?=$breadcrumps[$i];?>/"><?=ucfirst($breadcrumps[$i]);?></a>
            </li>
          <?php } else { ?>
            <li class="breadcrumb-item active"><?=ucfirst($breadcrumps[$i]);?></li>            
          <?php } 
        }?>
      </ol>
    </nav>
    <div class="container main">
      <div class="row">
        <div class="col-sm card m-2" width="20rem;">
					<div class="list-group" style="padding-top:20px;">
					  <a href='/plants/' class="list-group-item list-group-item-action">All plants</a>
					  <a href='/plants/decorative-leafy' class="list-group-item list-group-item-action">Decorative leafy</a>
					  <a href='/plants/krupnomery' class="list-group-item list-group-item-action">Krupnomery</a>
					</div>
          <div class="card-body">
            <form method="post" action="" id="search">
              <div class="search-options-block">
                <h5 class="card-title">Options</h5>
                <div class="form-check">
                  <input name="in_stock" value="Yes" <?php if(isset($_POST['in_stock'])) 
                      if(isset($_POST['in_stock'])) { ?> checked <?php } ?> 
                      class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label text-muted" for="defaultCheck1">in stock</label>
                </div>
                <div class="form-check">
                  <input name="not_in_stock" value="No" <?php if(isset($_POST['not_in_stock']))
                    if(isset($_POST['not_in_stock'])) { ?> checked <?php } ?>
                    class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                  <label class="form-check-label text-muted" for="defaultCheck2">not in stock</label>
                </div>
              </div>
              <div class="form-group">
                <label for="formControlRange">
                  <h5 class="card-title">Price < <span id="slidernumber"> </span></h5>
                </label>
                <input type="range" name="price" class="form-control-range" id="formControlRange" min=0 max="1000" step="50"
                  value="<?=$_POST['price']?>">
              </div>
              <input type="submit" class="btn btn-success btn-lg w-100" value="Search">
            </div>
          </form> 
        </div>
        <div class="col-sm-10 row d-flex justify-content-start">
            <?php foreach($data as $i) { ?>
            <div class="card m-2" style="width: 18rem;">
              <form method='post' action="" class="products">
                <a href="/products/show/<?=$i->id;?>">
                  <img class="card-img-top" src="/img/<?php echo $i->images[0]->src;?>" alt="<?=$i->title;?>">
                </a>
                <div class="card-body">              
                    <h5 class="card-title bold"><a href="/products/show/<?=$i->id;?>"><?=$i->title;?></a></h5>
                  <h5 class="card-title"><?=$i->price;?></h5>
                  <h6 class="card-subtitle mb-2 text-muted">vendor code: <?=$i->code;?></h6>
                  <?php if($i->in_stock>0) { ?>
								  <h6 class="card-subtitle mb-2 text-muted">in stock: <?=$i->in_stock;?></h6>
                  <div class="row">
                    <div class="col-sm">
                      <div class="col-20">
                        <input class="form-control" name="qt" type="number" value="1" min="1"  max="<?=$i->in_stock;?>" id="example-number-input">
                        <input name="id" type="hidden" value="<?=$i->id;?>">
                      </div> 
                    </div>  	
                    <div class="col-sm">
                      <input type="submit" class="btn btn-dark w-100" value="Add to Cart">
                    </div>  
                  </div>
                    <?php } else { ?>
                      <div class="alert alert-danger" role="alert">
                          goods ended
                      </div>
                    <?php } ?>
                </div>
              </form>
            </div>
            <?php } ?>
          <nav aria-label="Page navigation example" class="w-100">
            <?php use App\Lib\Route as Route;
                  use App\Models\Products as Products;
              $pages = Products::getNumberOfPage();
              $current = Route::getParams();
              $url = "";
              if(Route::getType()) $url .= '/'.Route::getType().'/';
              if(Route::getSubType()) $url .= Route::getSubType().'/';
              $prev = $current-1;
              $next = $current+1;
            ?>
            <ul class="pagination justify-content-center">
              <li class="page-item <?php if($prev==0) { ?> disabled <?php } ?>">
                <a class="page-link" href="<?php echo $url.$prev;?>" aria-label="Previous" >
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <?php for($i=1; $i<=$pages; $i++) { ?>
              <li class="page-item <?php if($i==$current) echo 'active'?>"><a class="page-link"
                  href="<?php echo $url.$i;?>"><?=$i;?></a></li>
              <?php } ?>
              <li class="page-item <?php if($next>$pages) { ?> disabled <?php } ?>">
                <a class="page-link" href="<?php echo $url.$next;?>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>  
      </div>
    </div>
  <script src="/js/productPage.js"> </script>


