    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/main/">Home page</a></li>
        <li class="breadcrumb-item"><a href="/<?=$data->type;?>/"><?=ucfirst($data->type);?></a></li>
        <li class="breadcrumb-item"><a href="/<?=$data->type;?>/<?=str_replace(' ', '-', $data->subtype);?>/"><?=ucfirst($data->subtype);?></a></li>
        <li class="breadcrumb-item active" aria-current="page"><?=$data->title;?></li>
      </ol> 
    </nav> 
    <div class="container main">
      <div class="row">
        <div class="col-sm-1 flex-col">
          <?php foreach($data->images as $key=>$img) { ?>
          <div class="row">
            <img class="d-block h-100" data-slide-to="<?=$key;?>" data-target="#carouselExampleFade" src="/img/<?=$img->src;?>" alt="First slide">
          </div>
          <?php } ?>
        </div>
        <div class="col-sm-5">
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
            <?php foreach($data->images as $key=>$img) { ?>
              <div class="carousel-item <?php if($key==0) { ?> active <?php } ?> ">
                <img class="d-block w-100" src="/img/<?=$img->src;?>" alt="First slide">
              </div>
            <?php } ?>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 20rem;">
            <form method='post' action="/cart/add/<?=$data->id;?>">
            <div class="card-body">
                <h5 class="card-title bold"><?=$data->title;?></h5>
              <h5 class="card-title"><?=$data->price;?></h5>
              <h6 class="card-subtitle mb-2 text-muted">vendor code: <?=$data->code;?></h6>
              <h6 class="card-subtitle mb-2 text-muted">in stock: <?=$data->in_stock;?></h6>
              <h6 class="card-subtitle mb-2 text-muted">plant height:</h6>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input class="hidden" type="radio" name="options" id="option1" autocomplete="off" checked>50cm
                </label>
                <label class="btn btn-primary">
                  <input class="hidden" type="radio" name="options" id="option2" autocomplete="off">80cm
                </label>
                <label class="btn btn-primary">
                  <input class="hidden" type="radio" name="options" id="option3" autocomplete="off">1m
                </label>
              </div>
              <p class="card-text"><?=$data->description;?></p>
              <div class="row">
                <div class="col-sm">
                  <div class="col-20">
                    <input class="form-control" name="<?php echo $id; ?>qt" type="number" value="1" min="1" id="example-number-input">
                  </div> 
                </div>  	
                <div class="col-sm">
                    <button type="submit" class="btn btn-dark w-100">Add to Cart</button>
                  </div>  
              </div>
              </form>  
              <p class="card-text wishlist-text"><i class="far fa-heart"></i>Add to wishlist</p>
              <div class="row">
                <div class="flex-row col-sm-4">
                  <div>
                    <i class="fab fa-facebook-square"></i>
                  </div>
                  <div>
                    <i class="fab fa-instagram"></i>
                  </div>
                  <div>
                    <i class="fab fa-google-plus-square"></i>
                  </div>
                </div>
                <div class="col-sm-8">
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
